# Application settings
APP_NAME="PhotoPlace"
PROJECT_NAME="PhotoPlace - API"
ENV="development"
LOGIN_EXPIRES_IN="7d"
JWT_KEY=""

# Database settings
DB_HOST="127.0.0.1"
DB_PORT="3306"
DB_NAME="photoplace"
DB_USERNAME="root"
DB_PASSWORD=""